Checks: '-*,
         bugprone-*,
         modernize-*,
         readability-*,
         performance-*,-performance-enum-size,
         cppcoreguidelines-*,
         misc-macro-parentheses'
WarningsAsErrors: ''
