Checks: '-*,
         bugprone-*,
         modernize-use-nullptr,
         readability-make-member-const,
         performance-for-range-loop,
         cppcoreguidelines-pro-type-member-init,
         misc-macro-parentheses'
WarningsAsErrors: ''
